@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="fundologo">
                <a class="letraC" href="@Url.Action("Index", "Home")">C</a>
            </div>
            <div class="nomeusuario">Olá, @(User?.Identity?.Name)</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                <ul class="navbar-nav flex-center">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Veiculos" asp-action="Index">Disponíveis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Vendas" asp-action="Index">Vendas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Pagamentos" asp-action="Index">Pagamentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="ModeloVeiculos" asp-action="Index">Modelos</a>
                    </li>
                    @if (User?.IsInRole("Admin") == true)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Marcas" asp-action="Index">Marcas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Index">Usuários</a>
                        </li>
                    }
                </ul>
                <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post" class="navbar-nav flex-center">
                    <ul class="nav navbar-nav navbar-left">
                        <button type="submit" class="nav-link btn btn-link" id="sair">
                            Sair
                        </button>
                    </ul>
                </form>
            </div>
        </div>
    </nav>

    
}
else
{
    <ul class="navbar-nav navbar-left">
        <a class="nav-link text-light" id="loginNav" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@string.Format("{0}{1}",Context.Request.Path, Context.Request.QueryString)">&nbsp; Log in&nbsp; </a>
        <a class="nav-link text-light" id="register" asp-controller="Account" asp-action="Register">&nbsp;Registrar&nbsp;&nbsp;&nbsp; </a>
    </ul>
}

