@{
    ViewData["Title"] = "Confirmação de E-mail";
}

<h1>@ViewData["Title"]</h1>

@if (ViewBag.EmailConfirmed)
{
    <p>O seu e-mail foi confirmado com sucesso!</p>
}
else
{
    <p>Houve um erro ao confirmar o seu e-mail. Por favor, entre em contato com o suporte.</p>
}
