@model CarZone.Models.ViewModels.LoginVM

@{
    ViewData["Title"] = "Redefinir Senha";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<div class="d-flex justify-content-center" style="text-align:center;">
    <div class="form-box" style="background-color: white; padding: 100px; box-shadow: 0px 0px 10px rgba(0,0,0,0.1);">
        <form class="col-12 text-align-center" asp-controller="Account" asp-action="ForgotPassword" method="post">


            <div class="" style="font-size: 25px; margin-bottom: 30px; font-family:'Baloo 2';">
                <p style="font-weight:500;">Redefinir Senha</p>
        
                <p style="font-size: 14px;">Informe o e-mail que deseja redefinir sua senha.</p>
            </div>

            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
            <br />
            <button class="col-12 align-self-auto btn btn-danger" type="submit">Recuperar senha</button>
            <br />

        </form>
    </div>
</div>
