@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser>

<table class="table">
    <thead>
        <tr>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td></td> 
            </tr>
        }
    </tbody>
</table>