@{
    ViewData["Title"] = "Excluir Veiculo";
}

<div class="text-center">

    <p class="display-5"> Deseja excluir o veículo (x) do modelo (y) e ano (z)</p>
    <br />
    <button type="button" class="btn btn-outline-danger">Excluir</button>
    <a type="button" class="btn btn-outline-secondary" asp-controller="Veiculo" asp-action="Index" >Cancelar</a>
</div>