@{
    ViewData["Title"] = "Inicio";
}

<div class="logo-home">
    <h1 class="display-2 text-center">CARZONE</h1>
</div>

<div class="container">
<div class="boxVeiculos">
    <div class="numerosBox">73</div>
    <div class="categoria">Veiculos</div>
    <img class="imagebox" src="/images/boxveiculos.png"/>
        <div class="detalhesVeiculos">➕ Detalhes</div>
</div>

<div class="boxClientes">
    <div class="numerosBox">33</div>
    <div class="categoria">Clientes</div>
    <img class="iconcliente" src="/images/boxclientes.png" />
    <div class="detalhesClientes">➕ Detalhes</div>
</div>

<div class="boxVendas">
    <div class="numerosBox">27</div>
    <div class="categoria">Vendas</div>
    <img class="iconVendas" src="/images/boxvendas.png" />
    <div class="detalhesVendas">➕ Detalhes</div>
</div>
</div>