@model Usuario


<div class="logo-container align-items-center">
    <a class="logotipo" href="@Url.Action("Index", "Home")">C</a>

</div>
<p class="carzonelogo">CarZone</p>
<a class="navbar-usuario" asp-area="" asp-controller="Home" asp-action="Index">Olá, @Model.Nome</a>
<button class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="navbar-collapse collapse justify-content-center">
    <ul class="navbar-nav flex-center sair-nav">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Veiculos" asp-action="Index">Disponíveis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Vendas" asp-action="Index">Vendas</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="ModeloVeiculos" asp-action="Index">Modelos</a>
        </li>
@*         @if (Model.Perfil == CarZone.Entities.Enums.PerfilEnum.Admin)
        { *@
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Pagamentos" asp-action="Index">Pagamentos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Marcas" asp-action="Index">Marcas</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Usuario" asp-action="Index">Usuários</a>
            </li>

        @* } *@

    </ul>
</div>

<ul class="navbar-nav flex-center sair">
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Sair">Sair</a>
    </li>
</ul>


