@{
    ViewData["Title"] = "Excluir Venda";
}

<div class="text-center">

    <p class="display-5"> Deseja excluir a venda?</p>
    <br />
    <button type="button" class="btn btn-outline-danger">Excluir</button>
    <a type="button" class="btn btn-outline-secondary" asp-controller="Vendas" asp-action="Index">Cancelar</a>
</div>