@model Venda
@{
    ViewData["Title"] = "Editar Venda";
}

<div class="text-center">

    <p class="display-6">Editar Venda</p>
    <br />
</div>

<form class="row mb-3" asp-controller="Vendas" asp-action="Editar" method="post">


    <input type="hidden" asp-for="Id" />

    <div class="row mb-3">
        @Html.DisplayFor( x => Model.DataVenda, "{0:dd/MM/yyyy}")
    </div>

    <div class="row mb-3">
        <label for="pagamento"> Pagamento </label>
        <select name="PagamentoId" asp-for="PagamentoId" class="form-control" asp-items="@ViewBag.Pag"></select>
    </div>

    <div class="row mb-3">
        <label for="modelo"> Modelo </label>
        <select name="ModeloId" asp-for="ModeloId" class="form-control" asp-items="@ViewBag.Modelos"></select>
    </div>


    <div class="row mb-3">
        <label for="cliente"> Cliente </label>
        <select name="ClienteId" asp-for="ClienteId" class="form-control" asp-items="@ViewBag.Clientes"></select>
    </div>
    <br />
    <br />
    
    <div>
    <button type="submit" class="btn btn-primary">Alterar</button>
    <a class="btn btn-primary" asp-controller="Vendas" asp-action="Index">Voltar</a>
    </div>
</form>