@{
    ViewData["Title"] = "Lista de Vendas";
}

<div class="text-center">
    <p class="display-6">Lista de Vendas</p>
    <br />
    <a class="btn btn-outline-danger btn-sm" asp-controller="Vendas" asp-action="CadastrarVenda">Cadastrar Venda</a>
    <br />
    <br />
</div>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Data da Venda</th>
                <th scope="col">Financiamento</th>
                <th scope="col">VeiculoId</th>
                <th scope="col">ClienteId</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>10/08/23</td>
                <td>Empréstimo</td>
                <td>5</td>
                <td>8</td>
                <td>Entregue</td>
                <td>
                    <a type="button" class="btn btn-outline-dark" asp-controller="Vendas" asp-action="EditarVenda">Editar</a>
                    <a type="button" class="btn btn-outline-dark" asp-controller="Vendas" asp-action="ApagarConfirmacao">Apagar</a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>13/11/2022</td>
                <td>A vista</td>
                <td>4</td>
                <td>3</td>
                <td> Processando </td>
                <td>
                    <a type="button" class="btn btn-outline-dark" asp-controller="Vendas" asp-action="EditarVenda">Editar</a>
                    <a type="button" class="btn btn-outline-dark" asp-controller="Vendas" asp-action="ApagarConfirmacao">Apagar</a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>18/01/2023</td>
                <td>Parcelado</td>
                <td>3</td>
                <td>7</td>
                <td> Entregue </td>
                <td>
                    <a type="button" class="btn btn-outline-dark" asp-controller="Vendas" asp-action="EditarVenda">Editar</a>
                    <a type="button" class="btn btn-outline-dark" asp-controller="Vendas" asp-action="ApagarConfirmacao">Apagar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>