@{
    ViewData["Title"] = "Excluir Modelo de Veiculo";
}

<div class="text-center">

    <p class="display-6"> Deseja excluir modelo de veiculo (x)?</p>
    <br />
    <button type="button" class="btn btn-outline-danger">Excluir</button>
    <a type="button" class="btn btn-outline-secondary" asp-controller="ModeloVeiculos" asp-action="Index">Cancelar</a>
</div>