@model ModeloVeiculo
@{
    ViewData["Title"] = "Editar Modelo";
}

<div class="text-center">

    <p class="display-6">Editar Modelo</p>
    <br />


    <form asp-controller="ModeloVeiculos" asp-action="Editar" method="post">

        <div class="text-center">
            <input type="hidden" asp-for="Id" />
            <div class="d-flex flex-column align-items-center">
                <label for="Marcas"> Marcas </label>
                <select name="MarcaId" asp-for="MarcaId" class=" form-control" asp-items="@ViewBag.Marcas"></select>
            </div>
            <br />

            <div class="d-flex flex-column align-items-center">
                <label for="Modelo"> Modelo</label>
                <input type="text" asp-for="NomeModelo" class="form-control" placeholder="Insira o nome do Modelo" />
            </div>
        </div>


        <br />

        <button type="submit" class="btn btn-primary">Editar Modelo</button>
        <a class="btn btn-primary" asp-controller="ModeloVeiculos" asp-action="Index">Voltar</a>
    </form>
</div>