@model List<ModeloVeiculo>
@{
    ViewData["Title"] = "Lista de Modelos";
}

<div class="text-center">
    <p class="display-6">Lista de Modelos</p>
    <br />
    <a class="btn btn-outline-danger btn-sm" asp-controller="ModeloVeiculos" asp-action="AdicionarModelo">Adicionar Modelo</a>
    <br />
    <br />


    <div class="text-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome de Modelo</th>
                    <th scope="col">Marca</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (ModeloVeiculo modelo in Model)
                    {
                        <tr>
                            <th scope="row">@modelo.Id</th>
                            <td>@modelo.NomeModelo</td>
                            @*usar view model para mostrar a marca invés do id*@
                            <td>@modelo.MarcaId</td> 
                            <td>
                                <a type="button" class="btn btn-outline-dark" asp-controller="ModeloVeiculos" asp-action="EditarModelo">Editar</a>
                                <a type="button" class="btn btn-outline-dark" asp-controller="ModeloVeiculos" asp-action="ApagarConfirmacao">Apagar</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>