@model Marca
@{
    ViewData["Title"] = "Adicionar Marca";
}

<div class="text-center">

    <p class="display-6">Adicionar Marca</p>
    <br />

    <form asp-controller="Marcas" asp-action="Criar" method="post">
        <div asp-validation-summary="All" class="text-danger">    </div>
        <input type="hidden" asp-for="Id" />
        <br />
        <div class="d-flex flex-column align-items-center">
            <div class="text-center">
                <label for="nomeMarca" style="font-size: 18px;">Nome da Marca</label>
                <input type="text" class="form-control" asp-for="Nome" placeholder="Insira o nome">
            </div>
        </div>
        <br />
        <div>
            <button type="submit" class="btn btn-primary">Adicionar Marca</button>
            <a class="btn btn-primary" asp-controller="Marcas" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
                    }