@{
    ViewData["Title"] = "Excluir Marca";
}

<div class="text-center">

    <p class="display-5"> Deseja excluir a marca (nome)?</p>
    <br />
    <button type="button" class="btn btn-outline-danger">Excluir</button>
    <a type="button" class="btn btn-outline-secondary" asp-controller="Marcas" asp-action="Index">Cancelar</a>
</div>