@model Marca
@{
    ViewData["Title"] = "Editar Marca";
}

<div class="text-center">

    <p class="display-4">Editar Marca</p>
    <br />


    <form asp-controller="Marcas" asp-action="Editar" method="post">


        <input type="hidden" asp-for="Id" />
        <div class="d-flex flex-column align-items-center">
            <div class="text-center">
                <h6 class="" for="nomeMarca">Nome da Marca</h6>
                <input type="text" class="form-control" asp-for="Nome">
            </div>
        </div>

        
        @*Não deveria estar aqui*@
        <input type="hidden" asp-for="Modelos" />


    <br />
    <button type="submit" class="btn btn-primary">Editar Marca</button>
    <a class="btn btn-primary" asp-controller="Marcas" asp-action="Index">Voltar</a>
    </form>
</div>
