@model List<Marca>
@{
    ViewData["Title"] = "Lista de Marcas";
}

<div class="text-center">
    <p class="display-6">Lista de Marcas</p>
    <br />
    <a class="btn btn-outline-danger btn-sm" asp-controller="Marcas" asp-action="AddMarca">Adicionar Marca</a>
    <br />
    <br />


    <div class="text-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome da Marca</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                @if (Model != null && Model.Any())
                {
                    foreach (Marca marcas in Model)
                    {
                        <tr>
                            <th scope="row">@marcas.Id</th>
                            <td>@marcas.Nome</td>
                            <td>
                                <a type="button" class="btn btn-outline-dark" asp-controller="Marcas" asp-route-id="@marcas.Id" asp-action="EditarMarca">Editar</a>
                                <a type="button" class="btn btn-outline-dark" asp-controller="Marcas" asp-route-id="@marcas.Id" asp-action="ApagarConfirmacao">Apagar</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>