@model Veiculo
@{
    ViewData["Title"] = "Excluir Veiculo";
}

<div class="text-center">

    <p class="display-5"> Deseja excluir o veículo da placa (@Model.Placa) do ano (@Model.Ano)?</p>
    <br />
    <a type="button" class="btn btn-outline-danger" asp-controller="Veiculos" asp-action="Apagar" asp-route-id="@Model.Id">Excluir</a>
    <a type="button" class="btn btn-outline-secondary" asp-controller="Veiculos" asp-action="Index">Cancelar</a>
</div>