@model Veiculo
@{
    ViewData["Title"] = "Adicionar Veiculo";
}

<div class="text-center">

    <p class="display-6">Cadastro de Veiculos</p>
    <br />
</div>

<form class="row mb-3" asp-controller="Veiculos" asp-action="Criar" method="post">

    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="All" class="text-danger">    </div>

    <div class="row mb-3">
        <label for="Marcas" class="col-sm-2 col-form-label">Marcas</label>
        <div class="col-sm-10">
            <select name="MarcaId" asp-for="MarcaId" class="form-select" asp-items="@ViewBag.Marcas">
                <option value="" disabled selected hidden>Selecione a Marca</option>
            </select>
        </div>
    </div>
    <br />

    <div class="row mb-3">
        <label for="Modelos" class="col-sm-2 col-form-label">Modelos</label>
        <div class="col-sm-10">
            <select name="ModeloId" asp-for="ModeloId" class="form-control" asp-items="@ViewBag.Modelos">
                <option value="" disabled selected hidden>Selecione o Modelo</option>
            </select>
        </div>
    </div>
    <br />

    <div class="row mb-3">
        <label for="anoVeiculo" class="col-sm-2 col-form-label">Ano</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="anoVeiculo" asp-for="Ano" placeholder="Digite o ano"/>
        </div>
    </div>

    <div class="row mb-3">
        <label for="precoVeiculo" class="col-sm-2 col-form-label">Preço</label>
        <div class="col-sm-10">
            <input type="any" class="form-control" asp-for="Preco" step="1" min="0" asp-format="{0:0}" placeholder="Digite o preço">
            <span asp-validation-for="Preco" class="text-danger" data-val-msg="Digite um valor maior que zero." 
            data-val-range="Digite um valor maior que zero." data-val-range-max="0"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label for="veiculoPlaca" class="col-sm-2 col-form-label">Placa</label>
        <div class="col-sm-10">
            <input type="any" class="form-control" id="veiculoPlaca" asp-for="Placa" placeholder="Digite a placa">
        </div>
    </div>

    <div class="row mb-3">
        <div class="btn-group" button-type="button">
            <label asp-for="StatusVenda" class="col-sm-2 col-form-label">Status Veiculo </label>
            <div class="col-sm-2 col-form-label">
                <select asp-for="StatusVenda" class="btn btn-success" data-bs-toggle="dropdown" aria-expanded="false">

                    <span class="visually-hidden">Toggle Dropdown</span>
                    <option value="" disabled selected hidden>Selecione</option>
                    <option value="0">Disponivel</option>
                    <option value="1">Vendido</option>
                    <option value="2">Entregue</option>
                </select>
            </div>
            <br />
        </div>
    </div>


    <div class="text-center">
        <br /> 
        <button type="submit" class="btn btn-primary" asp-controller="Veiculos" asp-action="Criar" formmethod="post">Adicionar</button>
        <a class="btn btn-primary" asp-controller="Veiculos" asp-action="Index">Voltar</a>
    </div>

</form>

                    @section Scripts{
                        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                    }