@using CarZone.Models.ViewModels
@model VeiculosVM

@{
    ViewData["Title"] = "ERRO NA DELEÇÃO";
}

<div class="text-center">
    <h3>O Produto não pode ser excluído pois há @ViewBag.Registros lançamento(s) de estoque para o mesmo. Exclua o(s) lançamento(s) e tente novamente. </h3>
    <br />
    <a class="btn btn-outline-secondary" asp-controller="Veiculos" asp-action="Index"> Voltar</a>
</div>
