@model Cliente
@{
    ViewData["Title"] = "Alterar Cliente";
}

<div class="text-center">

    <p class="display-6">Alterar Cliente</p>
    <br />
</div>

<form class="row mb-3" asp-controller="Clientes" asp-action="Alterar" method="post">

    <input type="hidden" asp-for="Id"/>

    <div class="row mb-3">
        <label for="nome" class="col-sm-2 col-form-label">Nome</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="nome" asp-for="Nome">
        </div>
    </div>

   
    <div class="row mb-3">
        <label for="cpfCliente" class="col-sm-2 col-form-label">CPF</label>
        <div class="col-sm-10">
            <input type="number" asp-for="CPF" class="form-control">
        </div>
    </div>


    <div class="row mb-3">
        <label for="telefoneCliente" class="col-sm-2 col-form-label">Telefone</label>
        <div class="col-sm-10">
            <input type="any" asp-for="Telefone" class="form-control" placeholder="(99) 99999-9999">
        </div>
    </div>

    <div class="row mb-3">
        <label for="enderecoCliente" class="col-sm-2 col-form-label">Endereço</label>
        <div class="col-sm-10">
            <input type="any" asp-for="Endereco" class="form-control">
        </div>
    </div>



    <div>
        <button type="submit" class="btn btn-primary">Alterar Cliente</button>
        <a class="btn btn-primary" asp-controller="Clientes" asp-action="Index">Voltar</a>
    </div>
</form>