@{
    ViewData["Title"] = "Excluir Cliente";
}

<div class="text-center">

    <p class="display-6"> Deseja excluir o cliente (x) ?</p>
    <br />
    <button type="button" class="btn btn-outline-danger">Excluir</button>
    <a type="button" class="btn btn-outline-secondary" asp-controller="Clientes" asp-action="Index">Cancelar</a>
</div>