@model Cliente
@{
    ViewData["Title"] = "Cadastrar Cliente";
}

<div class="text-center">

    <p class="display-6">Cadastrar Cliente</p>
    <br />
</div>

<form class="row mb-3" asp-controller="Clientes" asp-action="Criar" method="post">

    <div class="row mb-3">
        <label for="nome" class="col-sm-2 col-form-label">Nome</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="nome" asp-for="Nome" placeholder="Insira o nome">
            @Html.ValidationMessageFor(x => x.Nome)
        </div>
    </div>

    <div class="row mb-3">
        <label for="cpfCliente" class="col-sm-2 col-form-label">CPF</label>
        <div class="col-sm-10">
            <input type="text" id="cpfCliente" asp-for="CPF" class="form-control" placeholder="000.000.000-00">
            @Html.ValidationMessageFor(x => x.CPF)
        </div>
    </div>

    <div class="row mb-3">
        <label for="telefoneCliente" class="col-sm-2 col-form-label">Telefone</label>
        <div class="col-sm-10">
            <input type="any" asp-for="Telefone" id="telefoneCliente" class="form-control" placeholder="(00) 00000-0000">
            @Html.ValidationMessageFor(x => x.Telefone)
        </div>
    </div>

    <div class="row mb-3">
        <label for="cepCliente" class="col-sm-2 col-form-label">CEP</label>
        <div class="col-sm-10">
            <input type="text" id="cepCliente" class="form-control" placeholder="Insira apenas o número">           
        </div>
    </div>


    <div class="row mb-3">
        <label for="enderecoCliente" class="col-sm-2 col-form-label">Endereço</label>
        <div class="col-sm-10">
            <input type="any" asp-for="Endereco" id="enderecoCliente"  class="form-control" placeholder="Insira o endereço">
            @Html.ValidationMessageFor(x => x.Endereco)
        </div>
    </div>


    <div>
        <button type="submit" class="btn btn-primary">Cadastrar Cliente</button>
        <a class="btn btn-primary" asp-controller="Clientes" asp-action="Index">Voltar</a>
    </div>
</form>
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>
        // API para transformar o CEP em endereço 
        $(document).ready(function () {
            $('#cepCliente').on('change', function () {
                var cep = $(this).val().replace(/\D/g, '');
                if (cep.length === 8) {
                    $.getJSON(`https://viacep.com.br/ws/${cep}/json/`, function (data) {
                        if (!data.erro) {
                            $('#enderecoCliente').val(data.logradouro + ', ' + data.bairro + ', ' + data.localidade + ', ' + data.uf);
                        }
                    });
                }
            });
        });       

        // Transformar o nome em caixa alta/baixa em capitalização de palavras
            const nomeInput = document.getElementById('nome');

        nomeInput.addEventListener('input', function () {
            const texto = nomeInput.value;
            const palavras = texto.split(' ');

            const textoFormatado = palavras.map(function (palavra) {
                return palavra.charAt(0).toUpperCase() + palavra.slice(1).toLowerCase();
            }).join(' ');

            nomeInput.value = textoFormatado;
        });


        // Mascara de CPF       
        $(document).ready(function () {
            // Aplicar a máscara de CPF no campo de entrada
            $('#cpfCliente').mask('000.000.000-00');
        });

        // Máscara de telefone no campo de entrada
        $(document).ready(function () {

            $('#telefoneCliente').mask('(00) 00000-0000');
        });


        // Remove pontos e traços do CPF
        // const cpfInput = document.getElementById('cpfCliente');

        // cpfInput.addEventListener('input', function () {
        //     const cpf = cpfInput.value;
        //     const cpfNumeros = cpf.replace(/\D/g, '');

        //     cpfInput.value = cpfNumeros;
        // });


    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
                    }